{% extends "pages/base.html" %}
{% block titulo %} Inicio {% endblock %}


{% block contenido %}
    
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Bienvenidos a Biblioteca Arcadia</h1>
            <p class="lead">Empezar Ingreso de Libros</p>
            <hr class="my-2">
            
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Empezar!</a>
            </p>
        </div>
    </div>

{% endblock %}